@model ClientBookingRequestVM

@{
    ViewData["Title"] = "MyBookings";
}

<h1>My Bookings</h1>


<table id="DataTable" class="table">
    <thead>
        <tr>
            <th>
                Booking State
            </th>
            <th>
                Nr of Rooms
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Bookings)
        {
        <tr>
            <td>
                @if (item.Date_To < DateTime.Now && !item.Cancelled)
                {
                    <span class="badge badge-warning">Expired</span>
                }
                else if (item.Cancelled)
                {
                    <span class="badge badge-secondary">Cancelled</span>
                }
                else
                {
                    <span class="badge badge-success">Valid</span>
                }

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrOfRooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date_To)
            </td>

            <td>
                <a asp-action="MyBookingsDetails" class="btn btn-info" asp-route-id="@item.Id">Details</a>
                @if (!item.Cancelled && item.Date_To > DateTime.Now)
                {
                    <a asp-action="CancelForUser" class="btn btn-warning" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to cancel this booking?')">
                        Cancel
                    </a>
                }

            </td>

        </tr>
        }
    </tbody>
</table>